{% extends 'base.html' %}

{% block base1 %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0P7WE1SBR6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0P7WE1SBR6');
</script>
<div class="container my-3">
    <form action="{{ url_for('predict')}}" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">first</label>
            <input  class="form-control" type="number" name="email" id="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">sec</label>
            <select name="password" id="password">
                <option value="1">low</option>
                <option value="2">mid</option>
                <option value="3">high</option>
                
            </select>
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {{ prediction_text }}
</div>
{% endblock base1 %}
